<div class="container" id="nosotros">
    <div class="container-info">
        <div class="info">
            <h1>¿Quiénes somos?</h1>
            <p>Somos una organización sin fines de lucro que busca ayudar a los niños y niñas de la comunidad de San Juan de Lurigancho a través de la educación y el deporte.</p>
        </div>
        <div class="img">
            <img src="/img/about-us.jpg" alt="About Us">
        </div>
    </div>
</div>


<style>
    
    html.dark h1{
        text-shadow: 3px 3px  red;
    }

</style>