---
import { Image } from "astro:assets";
import Senseis from "./Senseis.astro";
import Carousel from "./Carousel.astro";
import { aboutUs } from "../data/content.json";

---

<article class="container" id="nosotros">
    <Carousel />
    <div class="container-info">
        <div class="info">
            <h1>¿Quiénes somos?</h1>
            <p>{aboutUs.text}</p>
        </div>
    </div>
    <Senseis />

</article>


<style>
    
    html.dark h1{
        text-shadow: 3px 3px  red;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        max-width: 70%;
        text-wrap: balance;
        text-align: center;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 70%;
    }

    .img img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }



    p {
        font-size: 1.2rem;
        font-weight: 300;
        opacity: 0.9;
        line-height: 1.5;
        text-align: left;
        text-wrap: pretty;
        white-space: pre-wrap;


    }

    @media (max-width: 768px) {
        .container-info {
            flex-direction: column;
             
        }

    }

    @media (max-width: 480px) {
        .container {
            max-width: 100%;
        }

        .info{
            max-width: 100%;
        }
    }


</style>