---
import Logo from '../assets/logo-judo.svg';
import { Image } from 'astro:assets';
import ThemeIcon from './ThemeIcon.astro';
---

<nav class="nav-links" data-aos="fade-down" data-aos-delay="300" >
    <a class="hover-underline-animation" href="#">Inicio</a>
    <a class="hover-underline-animation" href="#nosotros">Nosotros</a>
    <Logo size="150" stroke="white" fill="black" />
    <a class="hover-underline-animation" href="#programas">Programas</a>
    <a class="hover-underline-animation" href="#contacto">Contacto</a>
    <ThemeIcon/>
</nav>

<style>
    .hero {
        display: flex;
        align-items: center;

    }

    .nav-links {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 1.2rem;
    }



    a {
        color: inherit;
        text-decoration: none;
    }



    svg {
        transition: transform 0.2s ease-in-out;
        color: black;
        
    }

    html.dark svg{
        fill: white;
    }

    svg:hover {
        transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {


        .nav-links a {
            display: none;
        }
        
        
    }
    
/* source: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fe0000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

</style>