---
import Logo from '../assets/logo-judo.svg';
import { Image } from 'astro:assets';
import ThemeIcon from './ThemeIcon.astro';
---

<nav class="nav-links" data-aos="fade-down" data-aos-delay="300" id="navbar">
    <a class="hover-underline-animation" href="#">Inicio</a>
    <a class="hover-underline-animation" href="#nosotros">Nosotros</a>
    <Logo size="150" stroke="white" fill="black" />
    <a class="hover-underline-animation" href="#programas">Programas</a>
    <a class="hover-underline-animation" href="#contacto">Contacto</a>
    <ThemeIcon/>
</nav>

<style>
    #navbar {
        position: fixed;
        top: 0;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: white;
        width: 100%;
        z-index: 1000;
        transition: top 0.3s;
    }

    html.dark #navbar {
        background-color: black;
    }



    a {
        color: inherit;
        text-decoration: none;
    }



    svg {
        transition: transform 0.2s ease-in-out;
        color: black;
        
    }

    html.dark svg{
        fill: white;
    }

    svg:hover {
        transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {

        #navbar {
            top: 43px !important;
            position: sticky;
        }

        #navbar a {
            display: none;
        }
        
        
    }
    
/* source: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fe0000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

</style>

<script>
    // fuente https://www.youtube.com/watch?v=_IRSvzxmRj8&ab_channel=OnlineTutorials
    // y mejorada con Copilot Github, poco esfuerzo aquí de mi parte :D
    let lastScrollTop = 0; // This variable will store the top position
    const navbar = document.getElementById('navbar');
    let ticking = false;
    
    function handleScroll() {
      let scrollTop = window.scrollY || document.documentElement.scrollTop;
      // This line will get the location on scroll
    
      if (scrollTop > lastScrollTop) { // if it will be greater than the previous
        if (navbar) {
          navbar.style.top = '-182px';
        }
        // set the value to the negative of height of navbar 
      } else {
        if (navbar) {
          navbar.style.top = '0';
        }
      }
    
      lastScrollTop = scrollTop; // New position stored
      ticking = false;
    }
    
    window.addEventListener('scroll', function() {
      if (!ticking) {
        window.requestAnimationFrame(handleScroll);
        ticking = true;
      }
    });
    </script>