---
import { Image } from "astro:assets";
import senseiPG from "../assets/senseiPG.webp";
import senseiPM from "../assets/senseiPM.webp";
import senseiCC from "../assets/senseiCC.webp";
---

<div class="container-info">
    <h1>Nuestros Senseis</h1>
    <div class="info-background" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-in-out">
    <div class="info-senseis" >
    
        <div class="sensei">
            <div class="img">
                <Image src={senseiPG} alt="Sensei Parra G." width="200" height="200" loading={"eager"} />
            </div>
            <h2>Sensei Parra G.</h2>
            <p>Grado</p>
        </div>
        <div class="sensei">
            <div class="img">
                <Image src={senseiPM} alt="Sensei Parra M." width="200" height="200" loading={"eager"} />
            </div>
            <h2>Sensei Parra M.</h2>
            <p>Grado</p>
        </div>
        <div class="sensei">
            <div class="img">
                <Image src={senseiCC} alt="Sensei Calistro A." width="200" height="200" loading={"eager"} />
            </div>
            <h2>Sensei Calistro A.</h2>
            <p>Grado</p>
        </div>
    </div>  
    </div>
</div>

<style>

    html.dark h1{
        text-shadow: 3px 3px  red;
    }

    html.dark .info-background {
        background-color: red;
    }

    html.dark .info-senseis {
        border: 1px solid red;
        background-color: black;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .info-senseis {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: white;
        margin-top: -20px;
        margin-left: -20px;
        padding: 20px;
        background-color: white;
        border: 1px solid black;

    }

    .info-background {
         background-color: black;
            padding: 10px;         
    }
    
    .sensei {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img { /* [1.1] Set it as per your need */
        overflow: hidden;
        border-radius: 50%;
    }

    .sensei img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: transform .5s ease;

    }

    .sensei:hover img {
        transform: scale(1.2);
        opacity: 0.9;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 300;
        opacity: 0.9;
    }

    @media (max-width: 768px) {


        .info-senseis {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    }



</style>
